:root {
  --Header-backg: #7fffd3;
  --backlog-flag: #d2691e;
}

body {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  background-color: var(--Header-backg);
  font-size: 2em;
  font-weight: bold;
  padding: 20px;
}

h2 {
  font-size: 1.3em;
  font-weight: 900;
  padding-bottom: 15px;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  padding-bottom: 10px;
}

.tasks {
  padding: 20px;
}

hr {
  margin: 0 15px;
}

.flag {
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 0.8em;
}

.backlog-flag {
  background-color: var(--backlog-flag);
}

.inProgress-flag {
  background-color: rgb(155, 19, 19);
}

.completed-flag {
  background-color: rgb(20, 216, 20);
}